<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page_title %></title>
    <style>
        td,th{border: 1px solid black;}
    </style>
</head>
<body>
<center>
    <H1><%= page_title %></H1>
    <button onclick="location.href='/category/add'">Add Category</button>
    <button onclick="location.href='/task/add'">Add Task</button>
    <table>
        <tr>
            <th>category name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% for(let ctrs of categories){ %>
            <tr>
                <td><%= ctrs.name %></td>

                <td>
<!--                    <form action="/category/Edit" method="post">-->
<!--                        <input type="hidden" name="id" value="<%=ctrs.id%>">-->
<!--                        <button>Edit</button>-->
<!--                    </form>-->
                    <button onclick="location.href='/category/edit'">Edit</button>
                </td>

                <td>
                    <form action="/category/delete" method="post">
                        <input type="hidden" name="id" value="<%=ctrs.id%>">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
        <td colspan="100" class="centered">
            <form action="" method="get">
                <% if (page > 0) { %> <button name="p" value="<%= page-1 %>">Back</button> <% }%>
                Page  <%= page+1%> / <%= total_pages+1 %>

                <% if(page < total_pages) { %>
                    <button name="p" value="<%= page+1 %>">Next Page</button>
                <% } %>
            </form>
        </td>
    </table>
</center>
</body>
</html>