<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page_title %></title>
    <style>
        td,th{border: 1px solid black;}
    </style>
</head>
<body>
<center>
    <H1><%= page_title %></H1>
    <label for="task_add">Add Task</label>
    <button onclick="location.href='/task/add'">Add Task</button>
    <br><br>

                <form action="" method="get">
                    <label for="category_id"> <h4>Filter By Category</h4></label>
                    <select name="category_id" id="category_id">

                        <option value="-1" <%= filter_params.category_id === -1 ? 'selected' : '' %>>All Categories</option>
                        <% for (let ctrs of categories) { %>
                            <option value="<%= ctrs.id %>" <%= filter_params.category_id === ctrs.id ? 'selected' : '' %>><%= ctrs.name %></option>
                        <% } %>
                    </select>
                    <button>Filter</button>
                </form>

    <form action="/task/list" method="get">
        <label for="done"><h4>Filter By Task</h4></label>
        <select name="done" id="done">
            <option value="-1" <%= (filter_params.done === -1 ? "selected": "" )%> >All Tasks</option>
            <option value="0" <%= (filter_params.done === 0 ? "selected": "" )%> >Not Done</option>
            <option value="1" <%= (filter_params.done === 1 ? "selected": "" )%> >Done</option>
        </select>
        <button>Filter</button>
    </form>

    <br>
    <br>

    <h2>Current Category: <%= category_name %></h2>

    <table>
        <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Done</th>
        </tr>
        <% for(let tsk of tasks){ %>
            <tr>
                <td style="<%= tsk.done ? 'text-decoration: line-through;' : '' %>"><%= tsk.name %></td>
                <td style="<%= tsk.done ? 'text-decoration: line-through;' : '' %>"><%= tsk.description %></td>
                <td><%= tsk.nice_date %></td>
                <td><button onclick="location.href='/task/edit/<%= tsk.id %>'">Edit</button></td>
                <td>
                    <form action="/task/delete" method="post">
                        <input type="hidden" name="id" value="<%=tsk.id%>">
                        <button>Delete</button>
                    </form>
                </td>
                <td>
                    <form action="/task/isdone/<%= tsk.id %>" method="post">
                        <input type="checkbox" name="done" value="1" onchange="this.form.submit()"  <%= tsk.done ? 'checked' : '' %> >
                    </form>
                </td>
            </tr>
        <% } %>
        <td colspan="100" class="centered">
            <form action="" method="get">
                <% if (page > 0) { %> <button name="p" value="<%= page-1 %>">Back</button> <% }%>
                Page  <%= page+1%> / <%= total_pages+1 %>

                <% if(page < total_pages) { %>
                    <button name="p" value="<%= page+1 %>">Next Page</button>
                <% } %>
            </form>
        </td>
    </table>
    <br><br>
    <label for="home_page">Jump To Home Page</label>
    <button onclick="location.href='/auth/home'">Home Page</button>
</center>
</body>
</html>