<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page_title %></title>
    <style>
        td,th{border: 1px solid black;}
        .centered { text-align: center}
    </style>
</head>
<body>
<center>
    <H1><%= page_title %></H1>
    <a href="/users/Add">Add User</a>
    <table>
        <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>User Name</th>
            <th>email</th>
            <th>typeID</th>
            <th>Delete</th>
        </tr>
        <% for(let urs of users){ %>
            <tr>
                <td>
                    <form action="/users/Edit" method="post">
                        <input type="hidden" name="id" value="<%= urs.id %>">
                        <button>Edit</button>
                    </form>
                </td>
                <td><%= urs.name %></td>
                <td><%= urs.username %></td>
                <td><%= urs.email %></td>
                <td><%= urs.typeid %></td>
                <td>
                    <form action="/users/Delete" method="post">
                        <input type="hidden" name="id" value="<%=urs.id%>">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
        <td colspan="100" class="centered">
            <form action="" method="get">
                <% if (page > 0) { %> <button name="p" value="<%= page-1 %>">Back</button> <% }%>
                Page  <%= page+1%> / <%= total_pages+1 %>

                <% if(page < total_pages) { %>
                    <button name="p" value="<%= page+1 %>">Next Page</button>
                <% } %>
            </form>
        </td>
    </table>
</center>
</body>
</html>